.body {
    background-image: url(../images/weather-bg.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    font-family: $main;
    min-height: 100vh;
}

main {
    min-height: 85vh;
}

form {
    display: flex;
    justify-content: space-evenly;
    background: rgba(255,255,255, 0.3);
    border-radius: 20px;
    padding: 50px;
    margin:40px 0;
    @media (max-width: $desktop) {
        flex-direction: column;
        padding: 20px;
    }
    & .input-container {
        position: relative;
    @media (max-width: $desktop) {
        margin: 20px 0;
    }
    }
    & label {
        position: absolute;
        top: 10px;
        left: 5px;
        color: black;
        transition: 0.5s;
    }
    & .form-input {
        padding: 10px 0;
        box-shadow: none;
        outline: none;
        border: none;
        border-bottom: 2px solid black;
        background: none;
    }    
    & .form-input:focus + label,
    & .form-input:valid + label
    {
        top: -20px;
        font-weight: 600;
        color: goldenrod;
    }
    & .form-input:focus,
    & .form-input:valid
    {
        border-bottom: 2px solid goldenrod;
    }
    & input:invalid {
    box-shadow: none;
    }
    & .button-submit {
        border:none;
        background: goldenrod;
        color: #fff;
        @media (max-width: $desktop) {
        width:50%;
    }
    }
}