.body {
    background-image: url(../images/weather-bg.jpg); 
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    font-family: 'Roboto Mono', monospace;
}


.city-weather-tile {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px 50px;
    margin: 20px 0;
    transition: all 0.5s ease-in-out;
    &:hover {
    transform: scale(1.1);
    }
} 

form {
    display: flex;
    justify-content: space-evenly;
    & .input-container {
        position: relative;
    }
    & label {
        position: absolute;
        top: 10px;
        left: 0;
        color: #999;
        transition: 0.5s;
    }
    & .form-input {
        padding: 10px 0;
    }    
    & .form-input:focus + label,
    & .form-input:valid + label
    {
        top: -20px;
        font-weight: 600;
        color: pink;
    }
    & .form-input:focus,
    & .form-input:valid
    {
        border-bottom: 2px solid pink;
    }
    & input:invalid {
    box-shadow: none;
    }
}