.weather-listing-container {
    display: flex;
    flex-wrap: wrap;

    & .weather-tile-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    & button {
        background: none;
        border: none;
    }
    & .temp{
        font-size: 5.0rem;
    }
}

.city-weather-tile {
    flex: 0 1 calc(100%/3 - 40px);
    // width: 33%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px 50px;
    margin: 20px;
    transition: all 0.5s ease-in-out;
    &:hover {
    transform: scale(1.1);
    }
} 